body{
  margin: 0;
}
.custom-Card{
   height: 500px;
}

.card .content{
  padding: 9px;
}
.card button{
  background-color: rgb(29, 162, 214);
  border: none;
  cursor: pointer;
  width: 80px;
  height: 28px;
  color: white;
  font-size: 13px;
  border-radius: 2px;
}

.categoryBtn{
  display: flex;
  justify-content: center;
  gap: 11px;
  margin-bottom: 20px;
}
.categoryBtn button{
  gap: 11px;
  width: 130px;
  height: 33px;
  border: none;
  outline: none;
  font-size: 18px;
  border-radius: 16px;
  cursor: pointer;
  padding: 2px;
}

.tag-btn{
  background-color: rgb(255, 108, 108);
  color: white;
}

.active{
  background-color: green !important;
}


.head{
  text-align: center;
  font-weight: 600;
  font-size: 26px;
}
.pagination{
  margin-bottom: 20px;
  gap: 25px;
  display: flex;
  justify-content: center ;
  padding: 9px;
}
.Pre-pagination{

}
.next-pagination{

}

